<header>
    <div id="TOPBAR" class="container-fluid no-gutters">
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="LOGO title" routerLink="">NEBULA</a>
                <div class="rubrique">
                    <a class="nav-link" routerLink="/homepage">HOME</a>
                </div>
                <div class="rubrique">
                    <a class="nav-link" routerLink="/siteplan">SITEMAP</a>
                </div>
                <div class="rubrique">
                    <a class="nav-link" routerLink="/actuality">ACTUALITY</a>
                </div>
                <div class="rubrique">
                    <a class="nav-link" routerLink="/forum">FORUM</a>
                </div>
                <div class="navbar_recherche">
                    <form class="recherche form-inline my-2 my-lg-0">
                        <input class="barre_recherche form-control mr-sm-2" type="search" placeholder="Search"
                            aria-label="Search">
                        <button class="bouton_search btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                    <div class="Sign">
                        <div class="rubrique ">
                            <a class="nav-link" routerLink="/connexion">SIGN IN</a>
                        </div>
                        <div class="rubrique ">
                            <a class="nav-link" routerLink="/inscription">SIGN UP</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
<router-outlet></router-outlet>
<footer>
    <div class="footerHeader"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <h3 class="littleTitle">About us</h3>
                <p>
                    Welcome to our Nebula website. We are students at the Wild Code School and we created this website
                    as part of our project 2.
                </p>
            </div>

            <div class="col-md-4">
                <h3 class="littleTitle">Our Location </h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2645.109139841923!2d1.0098100513354757!3d48.47362013557295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e3c1f7f154cb2f%3A0x56c92fac27b1deca!2s18+Rue+de+la+Gare%2C+28240+La+Loupe!5e0!3m2!1sfr!2sfr!4v1539079301479"
                    sytle="" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-md-4">
                <h3 class="littleTitle">Contact Us</h3>
                <ul class="sm">
                    <li>Phone : 02.06.09.28.18</li>
                    <li>E-mail : Nebula@project2.com</li>
                </ul>
                <p style="text-align:center">
                    Join us on our social networks
                </p>
                <ul class="socialIcons">
                    <li class="facebook"><a href="#"><i class="fa fa-fw fa-facebook"></i>Facebook</a></li>
                    <li class="twitter"><a href="#"><i class="fa fa-fw fa-twitter"></i>Twitter</a></li>
                    <li class="instagram"><a href="#"><i class="fa fa-fw fa-instagram"></i>Instagram</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>