<section class="police-du-body couleur-du-body">
  <div class="container titre-page-forum">
      <a class="en-tete-forum">FORUM</a>
  </div>
  <div class="container forum-topic">
      <form class="contenu-forum-topic">
          <div class="form-row haut-cadre-forum">
              <div class="BTN_NS_FORUM">
                    <button href="#notButtonNewSubj" class="bouton_NS_forum btn btn-outline-success" type="submit">New Subject ?</button>
              </div>
                
               <form class="recherche-forum form-inline col-9 ">
                  <input class="col offset-1 barre_recherche_forum form-control" type="search" placeholder="Search" aria-label="Search">
                  <button class="col-3 bouton_search_forum btn btn-outline-success" type="submit">Search</button>
              </form>
              
          </div>
      </form>
      <div class="container-fluid prevnext"> 
            <div class="previous-next">
                <button class="col-2 page-precedente bouton_prev_forum btn btn-outline-success my-2 my-sm-0" type="submit">PREV</button>
                <nav>
                    <ul class="pagination numero-page">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">1</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">98</a></li>
                        <li class="page-item"><a class="page-link" href="#">99</a></li>
                        <li class="page-item"><a class="page-link" href="#">100</a></li>
                    </ul>
                </nav>
                <button class="col-2 page-suivante bouton_next_forum btn btn-outline-success my-2 my-sm-0" type="submit">NEXT</button>
            </div> 
        </div>
      <div class="container-fluid">
          <table class="tableaux-des-topics">
              <tr>
                  <td class="Subject Base">Subject</td>
                  <td class="Author Base">Author</td>
                  <td class="Date Base">Date</td>
              </tr>
              <tr class="Topic-selectionnable">
                  <td class="Subject">Potatoes</td>
                  <td class="Author">JPP</td>
                  <td class="Date">10/15/2018</td>
              </tr>
              <tr class="Topic-selectionnable">
                  <td class="Subject">...</td>
                  <td class="Author">Jean-Michel-404</td>
                  <td class="Date">12/16/2012</td>
              </tr>
              <tr class="Topic-selectionnable">
                  <td class="Subject">Can you hear me ?</td>
                  <td class="Author">Jean-Michel-404</td>
                  <td class="Date">12/15/2012</td>
              </tr>
              <tr class="Topic-selectionnable">
                  <td class="Subject">Allo ?</td>
                  <td class="Author">Jean-Michel-404</td>
                  <td class="Date">12/14/2012</td>
              </tr>
              <tr class="Topic-selectionnable">
                  <td class="Subject">Answer ?</td>
                  <td class="Author">Jean-Michel-404</td>
                  <td class="Date">12/13/2012</td>
              </tr>
              <tr class="Topic-selectionnable">
                  <td class="Subject">Is Pluto a planet ?</td>
                  <td class="Author">Jean-Michel-404</td>
                  <td class="Date">12/12/2012</td>
              </tr>
              <tr class="Topic-selectionnable">
                    <td class="Subject">Is Pluto a planet ?</td>
                    <td class="Author">Jean-Michel-404</td>
                    <td class="Date">12/12/2012</td>
                </tr>
                <tr class="Topic-selectionnable">
                    <td class="Subject">Is Pluto a planet ?</td>
                    <td class="Author">Jean-Michel-404</td>
                    <td class="Date">12/12/2012</td>
                </tr>
                <tr class="Topic-selectionnable">
                    <td class="Subject">Is Pluto a planet ?</td>
                    <td class="Author">Jean-Michel-404</td>
                    <td class="Date">12/12/2012</td>
                </tr>
                <tr class="Topic-selectionnable">
                    <td class="Subject">Is Pluto a planet ?</td>
                    <td class="Author">Jean-Michel-404</td>
                    <td class="Date">12/12/2012</td>
                </tr>
          </table>
          <div class="container-fluid"> 
              <div class="previous-next">
                   <button class="col-2 page-precedente bouton_prev_forum btn btn-outline-success my-2 my-sm-0" type="submit">PREV</button>
                   <nav>
                         <ul class="pagination numero-page">
                          <li class="page-item disabled">
                              <a class="page-link" href="#" tabindex="-1">1</a>
                          </li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                          <li class="page-item"><a class="page-link" href="#">98</a></li>
                          <li class="page-item"><a class="page-link" href="#">99</a></li>
                          <li class="page-item"><a class="page-link" href="#">100</a></li>
                      </ul>
                  </nav>
                  <button class="col-2 page-suivante bouton_next_forum btn btn-outline-success my-2 my-sm-0" type="submit">NEXT</button>
              </div> 
          </div>
      </div>
  </div>
  <div class="container forum-topic">
      <form class="contenu-forum-topic">
          <div class="form-row">
              <div class="col-4" id="notButtonNewSubj">
                  <p class="ecriture-new-subject">New Subject ?</p>
              </div>
              <form class="recherche-forum form-inline my-2 my-lg-0 col offset-1">
                  <input class="col offset-1 title-new-subject form-control" type="Enter-the-title" placeholder="Enter the title" aria-label="Enter the title">
              </form>
          </div>
          <div class="container">
              <div class="option-ecriture">
                  <div class="Bold">
                      <button class="bold btn btn-outline-success my-2 my-sm-0" type="submit">B</button>
                  </div>
                  <div class="Italic">
                      <button class="italic btn btn-outline-success my-2 my-sm-0" type="submit">I</button>
                  </div>
                  <div class="Underline">
                      <button class="underline btn btn-outline-success my-2 my-sm-0" type="submit">S</button>
                  </div>
                  <div class="Import">
                      <button class="import btn btn-outline-success my-2 my-sm-0" type="submit">Import Files</button>
                  </div>
              </div>
              <div class="zone-de-texte">
                  <textarea class="text-zone" placeholder="You can write what you want here..." name="textarea"></textarea>
              </div>
              <div class="bouton-post">
                  <button class="col-4 bouton-post-new-subject btn btn-outline-success my-2 my-sm-0" type="submit">Create</button>
              </div>
          </div>
      </form>
  </div>
</section>