
  
  h1 {
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
  }
.abr {
    font-weight: 900;
    text-transform: uppercase;
    padding-top: 10%;
}
    


  /* card */


.element-card {
  position: relative;
  width: 100px;
  height: 130px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotatey(0deg) translatex(0px) translatey(0px);
          transform: rotatey(0deg) translatex(0px) translatey(0px);
  -webkit-transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  box-shadow: 4px 4px 20px grey;
  margin: 10px;
  cursor: pointer;
    color: darkgrey;
    font-family: 'VT323', monospace;
    
}
.element-card:hover {
  -webkit-transform: rotatey(90deg) translatex(0px) translatey(0px);
          transform: rotatey(180deg) translatex(0px) translatey(0px);
    width: 50%;
    border: 3px solid;
    border-color: aqua;
    border-radius: 10px;
    color: gold
}
.element-card.open {
  width: 200px;
  height: 260px;
  -webkit-transform: rotatey(-180deg) translatex(0px) translatey(0px);
          transform: rotatey(-180deg) translatex(0px) translatey(0px);
}
.element-card .front-facing {
  -webkit-transform: rotateY(0deg) translateZ(2px);
          transform: rotateY(0deg) translateZ(2px);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: midnightblue;
  border: 2px blue solid;
  border-radius: 10px;
}
.element-card .front-facing:hover {
  -webkit-transform: rotateY(180deg) translateZ(2px);
          transform: rotateY(180deg) translateZ(2px);
    background-color: blue
}
.element-card{
    margin-left: auto;
    margin-right: auto;
    width:40%;
}
.element-card .front-facing .abr {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0; 
  font-size: 1.5em;
  margin: -35px 0 0 0;
  text-align: center;
  font-family: 'VT323', monospace;
  
}
.element-card .front-facing .title {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'VT323', monospace;
  margin: 15px 0 0 0;
  text-align: center;
  color: #3498db;
}
.element-card .front-facing .atomic-number {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 12px;
  color: #2980b9;
  font-family: 'VT323', monospace;
}
.element-card .front-facing .atomic-mass {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
  color: #2980b9;
  font-family: 'VT323', monospace;
}
.element-card .back-facing {
  -webkit-transform: rotateY(180deg) translateZ(0px);
          transform: rotateY(180deg) translateZ(0px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #ecf0f1;
  border: 2px white solid;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  overflow: hidden;
}
.element-card .back-facing p {
  font-size: 14px;
  margin: 0;
}
.element-card .back-facing a.btn {
  display: inline-block;
  background-color: white;
  padding: 5px 15px;
  margin: 20px 0 0 0;
  color: #eee;
  background-color: #3498db;
  text-decoration: none;
  border-radius: 3px;
}
.element-card .back-facing a.btn:hover, .element-card .back-facing a.btn:focus {
  color: #fff;
  background-color: #2980b9;
    font-family: 'VT323', monospace;
}  

.titre{
    padding-top: 50px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.line{
    border-right: 2px solid darkblue
}

.backImg {
    background-image: url(http://www.galerie-pour-tous.fr/image/espace/618-_galaxie_by_parkuhrwaechter.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

@media screen and (max-width: 991px) {
    .line {
      border-right: none;
        display: block;
    }
    .element-card{
        width: 50%;
    }


  }

.Titre-de-la-page{
    font-size: 325%;
    font-family: 'Orbitron', sans-serif;
    padding-top: 30px;
}

.littleTitle{
  color:aqua;
}
.littleTitle:hover {

  background: -webkit-linear-gradient(aqua,DeepSkyBLue,DodgerBlue, blue);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}

