
<section>
        <div class="container-fluid">
                <div class="navigation-actualite row">
                        <button class="btn col- raccourci-autre-article" routerLink="/actuality" type="submit">Sun</button>
                        <button class="btn col- raccourci-autre-article" routerLink="/mercury" type="submit">Mercury</button>
                        <button class="btn col- raccourci-article-actuel" routerLink="/venus" type="submit">Venus</button>
                        <button class="btn col- raccourci-autre-article" routerLink="/earth" type="submit">Earth</button>
                        <button class="btn col- raccourci-autre-article" routerLink="/moon" type="submit">Moon</button>
                        
                        
                </div>
                <div class="navigation-actualite row">
                        <button class="btn col- raccourci-autre-article" routerLink="/march" type="submit">March</button>
                        <button class="btn col- raccourci-autre-article" routerLink="/jupiter" type="submit">Jupiter</button>
                        <button class="btn col- raccourci-autre-article" routerLink="/saturn" type="submit">Saturn</button>
                        <button class="btn col- raccourci-autre-article" routerLink="/uranus" type="submit">Uranus</button>
                        <button class="btn col- raccourci-autre-article" routerLink="/neptune" type="submit">Neptune</button>
                        
                        
                </div>
            </div>
        <div class="container fonnd">
            <div class="titre-page-article container-fluid">ARTICLE PAGE</div>
            <div class="titre-planete container-fluid"> Venus </div>
    <div class="row">
        <div class="card col-md-12 p-3">
            <div class="row ">
                <div class="col-md-4">
                    <img class="w-100" src="https://media.mnn.com/assets/images/2018/04/venus-clouds.jpg.653x0_q80_crop-smart.jpg">
                </div>
                <div class="col-md-8">
                    <div class="card-block">
                        <h6 class="card-title">
                            General Information</h6>
                            <ul>
                                <li><p class="card-text text-justify">Name : Venus</p></li>
                                <li><p class="card-text text-justify">Position of the Solar System : 3</p></li>
                                <li><p class="card-text text-justify">Age : 4.503 billion years </p></li>
                                <li><p class="card-text text-justify">Rotation speed : 6,2 km/s</p></li>
                                <li><p class="card-text text-justify">surface temperature: 231,7 K </p></li>
                            </ul>
                        

                        <div class="container">
                            <div class="btn-group">
                                <button class="btn btn-default btn-xs disabled">
                                    Share:</button>
                                <a class="btn btn-default btn-xs"
                                    target="_blank" title="On Facebook" href="#"><i class="fa fa-facebook fa-lg fb"></i></a>
                                <a class="btn btn-default btn-xs" target="_blank" title="On Twitter" href="#"><i class="fa fa-twitter fa-lg tw"></i></a><a class="btn btn-default btn-xs" target="_blank" title="On LinkedIn" href="#"><i
                                        class="fa fa-linkedin fa-lg linkin"></i></a><a class="btn btn-default btn-xs"
                                    target="_blank" title="Pin It" href="#"><i class="fa fa-pinterest fa-lg pinterest"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="card col-md-12 p-3">
            <div class="row ">
                <div class="col-md-8">
                    <div class="card-block">
                        <h6 class="card-title">{{maintitle[87]}}</h6>
                        <p class="card-text text-justify">{{description[87]}}</p>

                        <div class="container">
                            <div class="btn-group">
                                <button class="btn btn-default btn-xs disabled">
                                    Share:</button>
                                <a class="btn btn-default btn-xs"
                                    target="_blank" title="On Facebook" href="#"><i class="fa fa-facebook fa-lg fb"></i></a>
                                <a class="btn btn-default btn-xs" target="_blank" title="On Twitter" href="#"><i class="fa fa-twitter fa-lg tw"></i></a><a class="btn btn-default btn-xs" target="_blank" title="On LinkedIn" href="#"><i
                                        class="fa fa-linkedin fa-lg linkin"></i></a><a class="btn btn-default btn-xs"
                                    target="_blank" title="Pin It" href="#"><i class="fa fa-pinterest fa-lg pinterest"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <img class="w-100" src="{{images[87]}}">
                </div>
            </div>
        </div>
        <div class="card col-md-12 p-3">
            <div class="row ">
                <div class="col-md-4">
                    <img class="w-100" src="{{images[63]}}">
                </div>
                <div class="col-md-8">
                    <div class="card-block">
                        <h6 class="card-title">{{maintitle[63]}}</h6>
                        <p class="card-text text-justify">{{description[63]}}</p>

                        <div class="container">
                            <div class="btn-group">
                                <button class="btn btn-default btn-xs disabled">
                                    Share:</button>
                                <a class="btn btn-default btn-xs"
                                    target="_blank" title="On Facebook" href="#"><i class="fa fa-facebook fa-lg fb"></i></a>
                                <a class="btn btn-default btn-xs" target="_blank" title="On Twitter" href="#"><i class="fa fa-twitter fa-lg tw"></i></a><a class="btn btn-default btn-xs" target="_blank" title="On LinkedIn" href="#"><i
                                        class="fa fa-linkedin fa-lg linkin"></i></a><a class="btn btn-default btn-xs"
                                    target="_blank" title="Pin It" href="#"><i class="fa fa-pinterest fa-lg pinterest"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card col-md-12 p-3">
            <div class="row ">
                
                <div class="col-md-8">
                    <div class="card-block">
                        <h6 class="card-title">{{maintitle[37]}}</h6>
                        <p class="card-text">{{description[37]}}</p>

                        <div class="container">
                            <div class="btn-group">
                                <button class="btn btn-default btn-xs disabled">
                                    Share:</button>
                                <a class="btn btn-default btn-xs"
                                    target="_blank" title="On Facebook" href="#"><i class="fa fa-facebook fa-lg fb"></i></a>
                                <a class="btn btn-default btn-xs" target="_blank" title="On Twitter" href="#"><i class="fa fa-twitter fa-lg tw"></i></a><a class="btn btn-default btn-xs" target="_blank" title="On LinkedIn" href="#"><i
                                        class="fa fa-linkedin fa-lg linkin"></i></a><a class="btn btn-default btn-xs"
                                    target="_blank" title="Pin It" href="#"><i class="fa fa-pinterest fa-lg pinterest"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <img class="w-100" *ngIf="travelInfo != null" src="{{images[37]}}">
                </div>
            </div>
        </div>
    </div>
</div>
</section>




<!-- _______________CAROUSEL TOF ____________________________________-->
<section id="carouselGyro">
<div class="container-fluid col-md-12 col-sm-12">
<div class="block-caroussel zoom">
    <div id="wrapper">
        <div id="allPlan">
            <div class="plan p1"><img src="{{images[80]}}"></div>
            <div class="plan p2"><img src="{{images[81]}}"></div>
            <div class="plan p3"><img src="{{images[82]}}"></div>
            <div class="plan p4"><img src="{{images[83]}}"></div>
            <div class="plan p5"><img src="{{images[84]}}"></div>
            <div class="plan p6"><img src="{{images[85]}}"></div>
            <div class="plan p7"><img src="{{images[86]}}"></div>
            <div class="plan p8"><img src="{{images[37]}}"></div>
        </div>
    </div>
</div>
</div>
</section>
<!-- ________________________fin photo en bas de page-->